<h1>{{ name }}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroeDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ name | uppercase }}</dd>
</dl>

<button
  *ngIf="!isHeroeChanged"
  class="btn btn-success me-2"
  (click)="changeHero()"
>
  Cambiar héroe
</button>

<button
  *ngIf="age < 50"
  class="btn btn-success me-2"
  (click)="changeAge()"
>
  Cambiar edad
</button>

<button
  class="btn btn-danger"
  (click)="resetForm()"
>
  Reset
</button>
